/* Variables-Start */
:root {
    --main-color: #19c8fa;
    
}
/* Variables-End */

/* Global Rules-Start  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding: 0 20px;
    margin: 0 auto;
}
/* Medium devices (768px and up) */
@media (min-width: 768px) {
    .container {
        width: 730px;
    }
}
/* Large devices (992px and up) */
@media (min-width: 992px) {
    .container {
        width: 950px;
    }
}
/* Extra large devices (1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1150px;
    }
}
/* Global Rules-End */
