/* Variables-Start */
:root {
    --main-color: #19c8fa;
    
}
/* Variables-End */

/* Global Rules-Start  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #777;
    background-image: url(../images/landing.jpg);
    background-size: cover
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    padding: 0 20px;
    margin: 0 auto;
}
/* Medium devices (768px and up) */
@media (min-width: 768px) {
    .container {
        width: 730px;
    }
}
/* Large devices (992px and up) */
@media (min-width: 992px) {
    .container {
        width: 950px;
    }
}
/* Extra large devices (1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1150px;
    }
}
/* Global Rules-End */

/* Header-Start */
header {
    position: absolute;
    width: 100%;
    left: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    border-bottom: 1px solid var(--main-color);
    bottom: 0;
    left: 20px;
}
header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav ul {
    display: flex;
}
header nav ul li {
    padding: 40px 10px;
}
header nav ul li a {
    color: white;
}
.search {
    font-size: 18px;
    color: white;
    margin-left: 20px;
    position: relative;
    border-left: 1px solid white;
    width: 40px;
    height: 20px;
    align-content: flex-end;
}

/* Header-End */